body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navBar{
  /* border: 1px solid white; */
  background-color: #36454F;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ultra;
}

:root{
  --mainColor:#36454F;
  --mainColorLight: #5566aa;
  --secondaryColor: red;
  --textColor: #eee;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-image: var(--mainColor);
  color: var(--textColor);
}

nav a{
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover{
  color: var(--secondaryColor)
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  /* color: var(--textColor); */
  /* visibility: hidden; */
  /* opacity: 0; */
  /* font-size: 1.8rem; */
}

@media only screen and (max-width: 1024px){
  header .nav-btn{
    visibility: visible;
    opacity: 1;
  }

  header nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-image: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav{
    transform: none;
  }

  nav .nav-close-btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }

}
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #7D7B7B;
  font-size: 18px;   
  width: 100%; 
  margin-bottom: 1vw;
  
}

.form {
  background-color: #36454F;
  border-radius: 20px;
  box-sizing: border-box;
  height: relative;
  padding: 20px;
  width: 320px;
  justify-self: center;  
  margin-left: auto;
  margin-right: auto;  
  
}

.game-form {
  background-color: #36454F;
  border-radius: 20px;
  /* box-sizing: border-box; */
  /* box-sizing: content-box; */
  height: relative;
  padding: 20px;
  width: auto;
  justify-self: center;  
  margin-left: auto;
  margin-right: auto;  
  
}

.img{
  height: 50px;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 0;
    box-sizing: content-box;
  color: #7D7B7B;
  font-size: 18px;   
  /* width: 100%;  */
  width: 10vw;
  /* margin-bottom: 1vw; */
  margin-left: 20px;
}

.cell {
  height: 50px;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 0;
  box-sizing: content-box;

  color: #7D7B7B;
  font-size: 18px;   
  /* width: 100%;  */
  width: 10vw;
  margin-bottom: 1vw;
  margin-left: 20px;
}
.Timer{  
  height: 50px;
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 12px;
  border: 0;
  box-sizing: content-box;

  color: #7D7B7B;
  font-size: 18px;   
  /* width: 100%;  */
  width: 10vw;
  margin-bottom: 1vw;
  margin-left: 20px;
}

.logInButton{
  align-items: center;
  appearance: none;
  background-color: #F3C831;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.logInButton:hover {
  background: #D1D8D2;
  color: #4C6251;
}

.logInButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.logInButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.logInButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.logInButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.logInButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.logInButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.logInButton:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.link {
  color: #61dafb;
}
.link:visited {
  color: #61dafb;
}

.submit {
  background-color: #99180d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  
  text-align: center;
  width: 100%;
}

.signupButton{
  align-items: center;
  appearance: none;
  background-color: #F3C831;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.signupButton:hover {
  background: #FFFFFF;
  color: #F3C831;
}

.signupButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.signupButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.signupButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.signupButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.signupButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.signupButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.signupButton:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}